<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title></title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/icons-extra.css" />
		<link rel="stylesheet" href="../../css/my.css" />

		<script src="../../script/jquery.min.js"></script>
		<script src="../../js/summer.min.js"></script>
		<script src="../../script/mui.min.js"></script>
		<script src="../../script/vue.js"></script>
		<script src="../../script/my/common.js"></script>
		<style>
			::-webkit-input-placeholder {
				font-size: 12px;
			}
		</style>
	</head>

	<body>
		<div id="body" style="height: 100%;">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-icon mui-icon-left-nav back"></a>
				<h1 class="mui-title">
					<div style="height: 44px;">
						<div style="padding: 5px;background-color: #F0F0F0;height: 30px;vertical-align: middle;display: inline-block;width: 80%;border-radius: 9px;margin: 0px auto;">
							<div style="width: 100%;vertical-align: middle;height: 100%;line-height: 13px;">
								<span class="mui-icon mui-icon-search" style="vertical-align: middle;color: #BFBFBF !important;"></span>
								<input type="text" v-model="selectCode" placeholder="订单号查询" style="background-color: transparent;line-height: 11px;height: 20px;border: 0px;font-size: 13px;vertical-align: middle;padding: 0px;margin: 0px;" />
							</div>
						</div>
					</div>
				</h1>
			</header>
			<div class="mui-content" style="height: 100%;">
				<div style="position: relative;width: 100%;height: 100%;">
					<!--下拉刷新容器-->
					<div id="pageAllrongqi" class="mui-content mui-scroll-wrapper">
						<div class="mui-scroll" style="box-shadow: 0px 0px 0px 0px  !important;">
							<!--数据列表-->
							<ul class="mui-table-view mui-table-view-chevron list1" style="background-color: #efeff4;-webkit-margin-before:0em;">
								<li v-for="x in quanbudingdan.data" style="background-color: white;margin-top: 10px;">
									<div style="padding:15px;border-bottom: #E6E6E6 1px solid;font-size: 13px;">
										<span style="color: black;" v-clock>订单号:{{x.billcode}}</span>
									</div>
									<div style="padding:8px 15px;font-size: 13px;">
										<span style="color: #999999;">单据日期</span>
										<span style="float: right;font-size: 14px;color: #000000 ;" v-clock>{{x.dbilldate}}</span>
									</div>
									<div style="padding:8px 15px;font-size: 13px;">
										<span style="color: #999999;">产品编码</span>
										<span style="float: right;font-size: 14px;color: #000000 ;" v-clock>{{x.invcode}}</span>
									</div>
									<div style="padding:8px 15px;font-size: 13px;">
										<span style="color: #999999;">产品名称</span>
										<span style="float: right;font-size: 14px;color: #000000 ;" v-clock>{{x.invname}}</span>
									</div>
									<div style="padding:8px 15px;font-size: 13px;">
										<span style="color: #999999;">未发货箱数(件)</span>
										<span style="float: right;font-size: 14px;color: #000000 ;" v-clock>{{x.wckjs}}</span>
									</div>
									<div style="padding:8px 15px;font-size: 13px;">
										<span style="color: #999999;">已安排箱数(件)</span>
										<span style="float: right;font-size: 14px;color: #000000 ;" v-clock>{{x.ljapjs - x.ljckjs}}</span>
									</div>
									<div style="padding:8px 15px;font-size: 13px;">
										<span style="color: #999999;">未安排箱数(件)</span>
										<span style="float: right;font-size: 14px;color: #000000 ;" v-clock>{{x.npacknumber-x.ljapjs}}</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>

<script>
	var app = new Vue({
		el: "#body",
		data: {
			selectCode: "",
			quanbudingdan: {
				pageindex: -1,
				data: [],
			}
		},
		methods: {
			//下拉上拉
			quanbudingdanDown: function(fun) {
				app.SelectList(0, function() {
					fun();
				});
			},
			quanbudingdanUp: function(fun) {
				app.SelectList(app.quanbudingdan.pageindex + 1, function() {
					fun();
				});
			},
			SelectList: function(ind, fun) { //请求某一类型的指定page
				readStorage("dengluCookie", function(cook) {
					//请求服务器
					doPost("/ocm-web/api/b2b/unsend-goods-mobile/list", {
						customerId: cook.customerId,
						page: ind,
						size: 5,
						billcode: app.selectCode,
						dbilldateBegin: "",
						dbilldateEnd: "",
					}, function(data) {
						fun();
						//没有数据就返回
						if(data && data.length == 0) {
							toast("没有更多数据了");
							return;
						}

						//更新当前页号
						app.quanbudingdan.pageindex = ind;
						if(ind == 0) {
							app.quanbudingdan.data = data;
						} else {
							app.quanbudingdan.data = app.quanbudingdan.data.concat(data);
						}
					}, function(dat) {
						fun();
					}, false);
				});
			}
		},
		filters: {
			liangweixiaoshu: function(value) {
				if(!value) {
					return "";
				}
				return value.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
			},
			riqizhuanhuan: function(value) {
				if(value == "null" || value == null || value == undefined) {
					return "-";
				}
				var date = new Date(value);
				return date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
			}
		},
		watch: {
			selectCode: function() {
				app.quanbudingdan.pageindex = -1;
				app.quanbudingdan.data = [];
				app.quanbudingdanDown(function() {});
			}
		}
	});
</script>

<script>
	summerready = function() {
		mui('.mui-scroll-wrapper').scroll({
			indicators: true //是否显示滚动条
		});

		mui.init({
			swipeBack: false, //未知属性
			pullRefresh: {
				container: '#pageAllrongqi',
				down: {
					style: 'circle',
					callback: function() {
						app.quanbudingdanDown(function() {
							mui('#pageAllrongqi').pullRefresh().endPulldownToRefresh(true);
						});
					}
				},
				up: {
					auto: true,
					contentrefresh: '正在加载...',
					callback: function() {
						app.quanbudingdanUp(function() {
							mui('#pageAllrongqi').pullRefresh().endPullupToRefresh(true); //参数为true代表没有更多数据了。
						});
					}
				}
			}
		});
	}
</script>