<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title></title>
  <link rel="stylesheet" href="../../../css/mui.min.css" />
  <link rel="stylesheet" href="../../../css/icons-extra.css" />
  <link rel="stylesheet" href="../../../css/my.css" />
  <link rel="stylesheet" href="../../../css/mui.picker.css" />

  <link rel="stylesheet" href="../../../css/iSlider.css" />

  <script src="../../../script/jquery.min.js"></script>
  <script src="../../../js/summer.min.js"></script>
  <script src="../../../script/mui.min.js"></script>
  <script src="../../../script/vue.js"></script>
  <script src="../../../script/my/common.js"></script>
  <script src="../../../script/mui.picker.min.js"></script>
  <script src="../../../script/pinchzoom.js"></script>

  <script src="../../../script/iSlider.js"></script>
  <script src="../../../script/iSlider.animate.js"></script>
  <script src="../../../script/iSlider.plugin.dot.js"></script>
  <script src="../../../script/iSlider.plugin.button.js"></script>
  <style>
    ::-webkit-input-placeholder {
      font-size: 12px;
    }

    * {
      font-size: 14px;
      box-sizing: border-box;

    }

    .siginHeader {
      line-height: 30px;
    }

    .sigindetail {}

    .sigindetail .item-content {
      display: flex;
      line-height: 30px;
    }

    .item-name {
      flex: 0 0 110px;
      text-align: right;
      line-height: 30px;
    }

    .item-value {
      padding-left: 10px;
      line-height: 30px;
    }

    .padding-left-10 {
      padding-left: 10px;
    }

    #iSlider-wrapper {
      width: 100%;
      height: 300px;
    }
    .mui-content>.mui-table-view:first-child {
        margin-top: 0px;
    }
  </style>
</head>


<body>
  <div id="appContainer" style="height:100%;">
    <header id="header" class="mui-bar mui-bar-nav">
      <a class="mui-icon mui-icon-left-nav back"></a>
      <h1 class="mui-title">
        <span>签收</span>
      </h1>
    </header>
    <!-- <button type="button" class="mui-btn mui-btn-outlined">详情</button> -->



    <div class="mui-content" style="height: 100%;height:100%;background-color: #FFFFFF; padding-top: 44px;overflow: auto">
      <!-- <ul class="mui-table-view">
        <li class="mui-table-view-cell mui-media" style="height:50px;">
          <button @tap="confirm" type="button" class="mui-btn mui-btn-primary mui-btn-outlined" style="float:right;">确认签收</button>
        </li>
      </ul> -->
      <ul v-for="(item,index) in orderData" :key="index" class="mui-table-view">
        <li class="mui-table-view-cell mui-media sigindetail">
          <div class="siginHeader">签收明细:</div>
          <div class="item-content">
            <div class="item-name">CRM订单编码:</div>
            <div class="item-value" v-clock>{{item.crmorder}}</div>
          </div>
          <div class="item-content">
            <div class="item-name">NC订单编码:</div>
            <div class="item-value" v-clock>{{item.ncorder}}</div>
          </div>
          <div class="item-content">
            <div class="item-name">产品编码:</div>
            <div class="item-value" v-clock>{{item.invcode}}</div>
          </div>
          <div class="item-content">
            <div class="item-name">产品名称:</div>
            <div class="item-value" v-clock>{{item.invname}}</div>
          </div>
          <div class="item-content">
            <div class="item-name">发货数量(件):</div>
            <div class="item-value" v-clock>{{item.nastnumber}}</div>
          </div>
        </li>
      </ul>
      <ul class="mui-table-view">
        <li @tap="siginDateFun" class="mui-table-view-cell mui-media clearfix">
          <span class="siginHeader " style="float:left;">签收日期：</span>
          <span style="line-height: 30px;">{{siginDate}}</span>
        </li>
      </ul>
      <ul class="mui-table-view">
        <li class="mui-table-view-cell mui-media clearfix">
          <span class="siginHeader " style="float:left;">请上传签收单照片:</span>
          <span style="position: absolute;right: 100px;">
            <div @tap="takePhoto" type="button" class="mui-btn mui-btn-primary mui-btn-outlined">拍照</div>
          </span>
          <span style="position: absolute;right: 0;">
            <div @tap="confirm"  class="mui-btn mui-btn-primary mui-btn-outlined">确认签收</div>
          </span>
        </li>
      </ul>
      <ul class="mui-table-view">
        <li class="mui-table-view-cell mui-media">
          <!-- <div id="iSlider-wrapper"></div> -->
          <div v-for="(item,i) in base64StringArrComputed" :index="i" style="margin-top: 10px;">
            <button @tap="deleteItem(item,i)" type="button" class="mui-btn mui-btn-primary mui-btn-outlined">删除</button>
            <img :src="item" width="100%">
          </div>
        </li>
      </ul>
      <ul class="mui-table-view">
        <li class="mui-table-view-cell mui-media">
          <div class="siginHeader ">备注:</div>
          <form class="mui-input-group">
            <div class="mui-input-row" style="min-height: 100px;">
              <textarea v-model="remarks" cols="20" rows="3" placeholder="请填写备注"></textarea>
            </div>
          </form>
        </li>
      </ul>


    </div>

  </div>
</body>

</html>


<script>
  var orderData = {
    orderCode: "ODC20180000001", //订单编码
    productCode: "PC20180000001", //产品编码
    productName: "111红花郎（42）度，等等等等等等等等等等等等等等等等等等等等等等等等", //产品名称
    deliverAmount: 1000, //发货数量
    signInImages: ["https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540966843984&di=2e3ab7ac17fd80c48edf3cb05db91569&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01b6ca556079da0000009af03336db.jpg%40900w_1l_2o_100sh.jpg", "https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540966843984&di=33ee64fb0a74a892b56efb69d49173c2&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01b0d5565add936ac7251be83e7d81.jpg%401280w_1l_2o_100sh.jpg"],
    remarks: "111备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注"
  };
  var curDate = new Date();
  var curDateStr = "";
  try{
    curDateStr = curDate.getFullYear() + "/" + (curDate.getMonth() + 1) + "/" + curDate.getDate() + " " + curDate.getHours() + ":" + curDate.getMinutes() ;
  }catch(e){
    alert("此手机非标，请换手机。");
  }
  var app = new Vue({
    el: '#appContainer',
    data: function () {
      return {
        imgPath: [],
        base64StringArr: [],
        orderData: {},
        remarks: "", //备注
        customerCode: "", //经销商编码
        csalereceiveid: "", //单据id
        siginDate:(curDate.getFullYear() + "/" + (curDate.getMonth() + 1) + "/" + curDate.getDate() + " " + curDate.getHours() + ":" + curDate.getMinutes()),//签收日期
      }
    },
    computed: {
      base64StringArrComputed: function () {
        return this.base64StringArr.map(function (base64) {
          return "data:image/jpeg;base64," + base64;
        });
      }
    },
    methods: {
      siginDateFun: function () {
        var _this = this;
        var curDate = new Date();
        var dtPicker = new mui.DtPicker({
          type: "datetime",
          // beginDate: beginDate && new Date(beginDate),
          endDate:new Date(curDateStr)
        });
        dtPicker.show(function (obj) {
          _this.siginDate = obj.value.replace(/-/g, "/")
        });
      },
      //拍照
      takePhoto: function () {
        openCamera(function (args, base64String) {
          var imgPath = args.imgPath;
          var compressImgPath = args.compressImgPath;
          this.base64StringArr.unshift(base64String);
          // this.imgPath.unshift(imgPath);
          //初始化图片插件
          // app.initISlider(app.imgPath);
          // app.initISlider(app.base64StringArrComputed);

          app.$nextTick(function () {
            app.initZoomImages();
          });
        }, this);
      },
      //格式化图片数据格式
      formatImages: function (images) {
        return images.map(function (v) {
          return {
            content: v
          }
        });
      },
      //初始化图片
      initISlider: function (images) {
        var dom = document.getElementById('iSlider-wrapper');
        $(".islider-dot-wrap").remove();
        dom.innerHTML = "";
        images = this.formatImages(images);
        var S = new iSlider({
          dom: dom,
          data: images,
          isLooping: 1,
          isOverspread: 1,
          animateTime: 800, // ms
          plugins: ['dot', 'button']
        });
        app.initZoomImages();
      },
      //确认
      confirm: function (e) {
        e.preventDefault();
        if (this.base64StringArr.length === 0) {
          toast("请拍照");
          return;
        }
        mui.confirm(
          "此操作不可逆，请核对数据是否正确，图片是否清晰。", "",
          ["确认签收", "取消签收"],
          function (obj) {
            switch (obj.index) {
              case 0:
                //是
                var params = {
                  // custcode:app.customerCode,//经销商编码
                  csalereceiveid: app.csalereceiveid,
                  picId: app.base64StringArr.toString(),
                  vmemo: app.remarks,
                  soSalesignBList: [], //子表明细
                  signDate:app.siginDate,//签收日期
                }
                // console.log(params);
                // var url = "http://172.192.100.21:8080/receiveme/receive/sign";//测试
                var url = "http://182.150.55.64:8023/receiveme/receive/sign";//正式
                showLoadingBar("正在上传");

                $.ajax({
                  type: "post",
                  contentType: "application/json; charset=utf-8",
                  url: url,
                  data: JSON.stringify(params),
                  success: function (res) {
                    if (res.status == 0) {
                      alert(res.msg);
                      return;
                    }
                    toast("签收成功");
                    hideLoadingBar();
                    summer.closeToWin({
                      id: "main"
                    });
                  },
                  error: function (e) {
                    var base64StringArr = app.base64StringArr.map(function(v){
                      return v.slice(0,5);
                    });
                    var errorParams = {
                      csalereceiveid:params.csalereceiveid,
                      picId:base64StringArr.toString(),
                      vmemo:params.vmemo,
                      signDate:params.signDate,
                    };
                    alert("错误:" + JSON.stringify(e || "无返回") + JSON.stringify(errorParams));
                    hideLoadingBar();
                  }
                });
                break;
              case 1:
                //否
                break;
            }
          }
        );
        return;

      },
      initZoomImages: function () {
        $("img").each(function () {
          new RTP.PinchZoom($(this), {});
        });
      },
      //删除图片
      deleteItem: function (item, i) {
        // this.base64StringArr = this.base64StringArr.filter(function(v){
        //   return v !== item;
        // });
        this.base64StringArr.splice(i, 1);
      },
    },
    mounted: function () {

    },
    filters: {
      riqizhuanhuan: function (value) {
        if (value == "null" || value == null || value == undefined) {
          return "-";
        }
        var date = new Date(value);
        return date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
      },
    }
  })
</script>

<script>
  summerready = function () {
    app.orderData = summer.pageParam.orderData;
    app.csalereceiveid = summer.pageParam.csalereceiveid;
    readStorage("dengluCookie", function (cook) {
      app.customerCode = cook.username;
    })
  }
</script>